[submodule "LLM Homogeneity Analysis"]
	path = LLM Homogeneity Analysis
	url = https://github.com/Hayd3ne/LLM-Homogeneity-Analysis.git
[submodule "WuMedCoProject"]
	path = WuMedCoProject
	url = https://github.com/jvillanueva3651/WUMedCoProject.git
[submodule "MaoProject"]
	path = MaoProject
	url = https://github.com/Gibby990/MaoProject.git
